* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;

  .side-bar{
   width: 300px;
    .side-header{
     height: 100px;
     display: flex;
     align-items: center;
     background-color: #253141;
     &__area{
       height: 20px;
       padding: 0 20px;
       display: flex;
       &__name{
        height: 20px;
        width: 200px;
        color: #ffffff;
        font-size: 16px;
       }
       &__icons{
        height: 20px;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__edit{
          color: #ffffff;
        }
        &__cog{
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
    .groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      
      &__area{
        padding: 0 20px;
        &__name{
          font-size: 15px;
          color: #ffffff;
          padding: 20px 0 5px 0;
          //text-decoration: none;
        }
        &__message{
          font-size: 11px;
          color: #ffffff;
          padding-bottom: 40px;
          //text-decoration: none;
        }
      }
    }

}
  
  .main-chat{
    width: calc(100vw - 300px);
    background-color: #ffffff;
    .main-header{
      width:100%;
      height:100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
        &__group{
          height: 100px;
          padding-left: 40px;
          &__group-name{
            color: #333333;
            font-size: 20px;
            padding-top: 35px;
          }
          &__group-member{
            color: #999999;
            font-size: 12px;
            padding-top: 15px;
          }
        }
        &__edit{
          height: 40px;
          margin-top: 28px;
          margin-right: 40px;
          border: 1px solid #38aef0;
          font-size: 16px;
          padding: 0 20px;
          line-height: 40px;
        }
          .edit-btn{
            text-decoration: none;
            color: #38aef0;
          }
    }     
    .messages{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      .messages-area{
        margin-left: 40px;
        &__name-date{
        
          &__name{
            font-size: 16px;
            color: #333333;
          }
          &__date{
            font-size: 12px;
            color: #999999;
          }
        }
        &__comment{
          font-size: 14px;
          color: #434A54;
        }
      }
    }



    .form{
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      justify-content: space-between;
      
      .Form{
        display: flex;
        width: 100%;
      }
    
        .messages-form{
          width: 100%;
          margin: 20px 15px 25px;
          position: relative;
          display: flex;
          justify-content: space-between;
          &__comment{
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            padding: 0 40px 0 10px;
          }
          &__image-btn{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 22px;
            input{
              display: none;
            }
          }
        }

        .send-btn{
          padding: 0 30px;
          width: 100px;
          height: 50px;
          margin: 20px 40px 0 0;
          font-size: 16px;
          line-height: 50px;
          background-color: #38aef0;
          color:#fff;
        }
    }
  }
}


